article.tweet {
  border: solid 3px black;
  padding: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

article > header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header > img {
  padding-right: 0.5rem;

}

.user-handle {
  opacity: 0;
  display: flex;
  flex-basis: 70%;
  justify-content: flex-end;
  align-items: center;
}


footer {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: solid black;
  font-size: medium;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.icons {
  opacity: 0;
}

/* hover animation for the retweet, like, flag icons */
article:hover .icons{
  opacity: 1;
}

/* hover animation for the shadowbox*/
article:hover {
  border: solid 3px black;
  box-shadow: 5px 10px #4056A1;
}

/* hover animation for the @username */
article:hover .user-handle {
  opacity: 1;
}

/* desktop mode */
@media only screen and (min-width: 1024px) {
  .username {
    flex-basis: 50%;
  }

  .user-handle {
    opacity: 0;
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
  }
}
