article.tweet {
  border: solid 3px black;
  padding: .5rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

tweets-containter {
  display: flex;
  flex-wrap: wrap;
}

article > header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header > img {
  padding-right: .5rem;

}

.user-handle {
  /* border: solid 2px green; */
  opacity: 0;
  display: flex;
  flex-basis: 70%;
  justify-content: flex-end;
  align-items: center;
}


footer {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: solid black;
  font-size: medium;
  padding: .75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.icons {
  opacity: 0;
}

article:hover .icons{
  opacity: 1;
}

article:hover {
  border: solid 3px black;
  box-shadow: 5px 10px #4056A1;
  ;
  /* transition: box-shadow 0.3s ease-in-out; */
}


article:hover .user-handle {
  opacity: 1;
}


@media only screen and (min-width: 1024px) {
  .username {
    flex-basis: 50%;
  }

  .user-handle {
    opacity: 0;
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
  }
}
